<body>
    <input type="button" value="Click Me" onclick="set_background()">
    <p>Cybersoft JavaScript Exercises</p>
    <p>Cybersoft JavaScript Exercises</p>

    <script>
        function set_background() {
            docBody = document.querySelector("body")[0];
            pElements = docBody.getElementsByTagName("p");
            myp2 = pElements[0];
            myp2.style.background = "green";
        } 
    </script>
</body>